tab-item:not(.loading):-moz-any([data-current-uri="about:newtab"], [data-current-uri="about:home"], [data-current-uri="about:blank"]) tab-favicon {
  visibility: hidden;
}

tab-item tab-closebox {
  display: none;
}

.tab .twisty {
  margin-right: 0;
  position: absolute;
  left: 10px !important;
  opacity: 0 !important;
  z-index: 10000;
}

tab-item {
  --tab-size: 40px !important;
}

tab-item  tab-item-substance {
  height: var(--tab-size);
}

tab-item tab-item-substance {
  padding-left: 11px !important; /* !important is required when there are enough tabs to cause a scrollbar */
  padding-right: 5px !important;

}

tab-item.active .label-content {
  font-weight: normal;
}

* {
  border-radius: 0px !important;
  font-weight: 500 !important;
}

tab-item {
  /*--tab-margin-top: -3px;
  --tab-margin-bottom: -3px;*/
  font-size: 16px;
  
}

tab-item tab-favicon {
  margin-top: 2px;
  margin-right: 7px;
}

.newtab-button-box:hover {
  border-radius: 0px !important;
}

tab-item {
  	/*--tab-border: #b3afac;*/
	--indent-line-color: #b3afac;
    --indent-line-color-active: #8f8d92;
  	/*--indent-line-thickness: 10px;
    --indent-line-width: 5px;
    --indent-line-width-active: 1px;*/
}

/* Dim unloaded tabs */
.tab.discarded {
  opacity: 0.35;
}

/* Move the new tab button to center when collapsed */
:root.sidebar .newtab-button {
  padding-top:9px!important;
  padding-bottom:7px!important;
  margin-right: 4px;
  opacity: 0.5;
  border-radius: 0px;
}

:root {
  --tab-surface-regular: var(--theme-colors-tab,
                             var(--theme-colors-frame_inactive)) !important;
  --tab-surface-active: var(--theme-colors-tab_selected,
                            var(--theme-colors-toolbar,
                                var(--browser-bg-for-header-image,
                                    var(--tab-like-surface)))) !important;
  --tab-surface-active-hover: var(--theme-colors-tab_selected,
                                  var(--theme-colors-toolbar,
                                      var(--browser-bg-for-header-image,
                                          var(--tab-like-surface)))) !important;
  --tab-surface-hover: rgba(255,255,255,.1) /* from https://searchfox.org/mozilla-central/rev/8d722de75886d6bffc116772a1db8854e34ee6a7/browser/themes/shared/tabs.inc.css#590 */;
  --tab-border: var(--theme-colors-tab_background_separator,
                    var(--theme-colors-tab_line,
                        var(--theme-colors-tab_background_text-30,
                            hsl(240,9%,32%) /* from https://searchfox.org/mozilla-central/rev/8d722de75886d6bffc116772a1db8854e34ee6a7/browser/themes/shared/tabs.inc.css#684 : --tab-text-regular * 0.3 opacity */))) !important;
  --tab-text-regular: var(--theme-colors-tab_background_text,
                          hsl(240,9%,98%) /* from https://searchfox.org/mozilla-central/rev/8d722de75886d6bffc116772a1db8854e34ee6a7/toolkit/themes/windows/global/tabbox.css#27 */) !important;
  --tab-text-active: var(--theme-colors-tab_text,
                         var(--theme-colors-toolbar_text,
                             -moz-DialogText /* from https://searchfox.org/mozilla-central/rev/8d722de75886d6bffc116772a1db8854e34ee6a7/toolkit/themes/windows/global/tabbox.css#27 */));
  --tabbar-bg: var(--theme-colors-frame,
                   hsl(235,33%,19%) /* from https://searchfox.org/mozilla-central/rev/8d722de75886d6bffc116772a1db8854e34ee6a7/browser/themes/windows/browser-aero.css#59 */) !important;
}

* {
  box-shadow: none !important;
}
